@model FormOrder

@{
    
}
<div>
    <h2>ID: @Model.Id.ToString()</h2>
    <p>Sender's city: @Model.SendersCity</p>
    <p>Sender's address: @Model.SendersAddress</p>
    <p>Recipient's city: @Model.RecipientsCity</p>
    <p>Recipient's address: @Model.RecipientsAddress</p>
    <p>Weight (kg): @Model.Weight.ToString() kg</p>
    <p>ReceiptTime: @Model.ReceiptTime.ToString("g")</p>
</div>